<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Validator</title>

    <link rel="stylesheet" href="./styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <section id="view">
        <div id="container">
            <div id="response" style="display: none;">
                <span id="response-text"></span>
                <a href="javascript:void(0)" onclick="hideResponse()">Close</a>
            </div>

            <h1>Credit card information.</h1>
            <form action="javascript:void(0)" id="card-information">
                <input type="text" name="pan" required placeholder="Credit card number">
                <input type="number" name="cvv" required placeholder="CVV">
                <input type="month" name="expiration" required placeholder="Expiration">
                <button type="submit" id="submit">SUBMIT</button>
            </form>
        </div>
    </section>

    <script src="./functions.js"></script>
</body>

</html>